<div class="container CustomerContainer">
        <div class="card custermercard w-100">
            <div class="card-body w-100">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search by name or address">
                <button class="btn btn-primary" (click)="searchUniversite()">Search</button>
              </div>
              <button class="btn btn-primary"  [routerLink]="['/dashboard/add/universite']">
                       
                Add
            
            </button>
            
                <table class="table table-striped w-100 ">
                    <thead>
                      <tr>
                        <th scope="col">identifiant universite</th>
                        <th scope="col">nom universite</th>
                        <th scope="col">adress</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let universite of Listeuniversite">
                      <tr > 
                        <th scope="row">{{universite.idUniversite}}</th>
                        <td>{{universite.nomUniversite}}</td>
                        <td>{{universite.adresse}}</td>
                        <td style="width: 20%;">
                          <button class="btn btn-primary" (click) = "ToDetailsUniversite(universite)">
                              Find universite
                          </button>
                          <button class="btn btn-success" [routerLink]="['/dashboard/update/universite',universite.idUniversite]">
                       
                              Update
                         
                      </button>
                      
                          <button class="btn btn-danger"  (click) ="deleteUniversite(universite.idUniversite)" >
                             Delete
                          </button>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                 <!--<div>
                    <button (click)="previousPage()">Previous</button>
                    <span>Page {{ currentPage }} of {{ totalPages }}</span>
                    <button (click)="nextPage()">Next</button>
                  </div>--> 
            </div>
          </div>
    <router-outlet></router-outlet>
    </div>
    
